{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "printWidth": 150,
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": "*.yml",
      "options": {
        "parser": "yaml"
      }
    }
  ],
  "experimentalTernaries": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
