@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-synthesis: none;
}

.fancy-link {
  text-decoration: none;
  background-image: linear-gradient(90deg, red, blue);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  color: grey;
  background-position: left 1.5rem;
  padding-block: 0.25rem;
  transition:
    color 500ms,
    background-size 500ms;
}

.fancy-link:hover,
.fancy-link:focus {
  color: purple;
  background-size: 100% 3px;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100px);
  }
}

.fade-in-left {
  animation: fadeInLeft 1s ease-out forwards;
}

.fade-out-left {
  animation: fadeOutLeft 1s ease-out forwards;
}
