@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Geist Mono';
  src: url('../lib/fonts/GeistMonoVF.woff') format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../lib/fonts/JetBrainsMono.woff2') format('woff2');
} */

@layer utilities {
  .fancy-link {
    @apply bg-gradient-to-r from-red-500 to-blue-500 bg-no-repeat py-1.5 text-gray-600 no-underline transition-all duration-500 ease-in-out;
    background-size: 0% 2px; /* Custom style */
    background-position: left 1.5rem; /* Custom style */
  }
  .fancy-link:hover,
  .fancy-link:focus {
    @apply bg-[length:100%_2px] text-purple-800;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100px);
  }
}

.fade-in-left {
  animation: fadeInLeft 1s ease-out forwards;
}

.fade-out-left {
  animation: fadeOutLeft 1s ease-out forwards;
}

.scroll-snap {
  scroll-snap-type: y mandatory;
}

@layer base {
  :root {
    --background: 0 0% 50%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .light {
    --background: 293.7 46.3% 92%;
    --foreground: 296 56% 21%;
    --card: 291 54% 97%;
    --card-foreground: 240 10% 30%;
    --popover: 0 0% 100%;
    --popover-foreground: 296 56% 21%;
    --primary: 334.2 74.9% 56.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 314.7 61.6% 85.7%;
    --secondary-foreground: 295.8 40.9% 34.5%;
    --muted: 327.7 61.6% 78.7%;
    --muted-foreground: 327 77% 38%;
    --accent: 314.7 61.6% 85.7%;
    --accent-foreground: 240 10% 30%;
    --destructive: 335 94% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 304.6 27.7% 90.8%;
    --input: 317.4 44.2% 83.1%;
    --ring: 333.3, 71.4%, 50.6%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 290.3 49.2% 87.6%;
    --sidebar-foreground: 240 10% 30%;
    --sidebar-primary: 240 10% 30%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 60 5% 97%;
    --sidebar-accent-foreground: 240 10% 30%;
    --sidebar-border: 20 6% 92%;
    --sidebar-ring: 333.3, 71.4%, 50.6%;
    --gradient-noise-top: 292 42.9% 93.1%;
    --color-heading: 336.3 70.3% 19.8%;
    --chat-border: 304.8 61% 83.9%;
    --chat-background: 300 56% 98%;
    --chat-accent: #f5ecf9;
    --chat-input-gradient: 295 100% 90%;
    --chat-input-background: hsla(270, 0%, 100%, var(--blur-fallback, 0.1));
    --chat-overlay: hsla(309, 63%, 92%, var(--blur-fallback, 0.72));
    --wordmark-color: #ca0277;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --text: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --background: 0 0% 10.2%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 333.3, 71.4%, 50.6%;
    --primary-foreground: 0 0% 96%;
    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 83%;
    --muted: 0 0% 15%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 0 0% 18%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 333.3, 71.4%, 50.6%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
  .cool-dark {
    --background: 313.8 24.5% 10.4%;
    --foreground: 270 20% 97.8%;
    --card: 300 15.8% 3.7%;
    --card-foreground: 240 4.8% 95.9%;
    --popover: 320 23.08% 5.1%;
    --popover-foreground: 326 33% 96%;
    --primary: 332 100% 32%;
    --primary-foreground: 326 85% 90%;
    --secondary: 273.8 15.1% 20.8%;
    --secondary-foreground: 270 30% 83%;
    --muted: 283 9% 25%;
    --muted-foreground: 326 33% 86%;
    --accent: 272 20% 27%;
    --accent-foreground: 326 33% 96%;
    --destructive: 335.82 74.44% 35.29%;
    --destructive-foreground: 0 0% 100%;
    --border: 262.5 10% 15.7%;
    --input: 326.3 20% 15.7%;
    --ring: 333.3, 71.4%, 50.6%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 2.6% 7.6%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 318.5 20.6% 12.4%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 0 0% 0%;
    --sidebar-ring: 333.3, 71.4%, 50.6%;
    --gradient-noise-top: 309 15% 9%;
    --color-heading: 328.2 45.9% 57.3%;
    --chat-border: 333.3 22% 16.1%;
    --chat-background: 270 16.13% 12.16%;
    --chat-accent: rgba(25, 21, 30, 0.86);
    --chat-input-gradient: 289 23% 23%;
    --chat-input-background: hsla(270, 10%, 20%, var(--blur-fallback, 0.4));
    --chat-overlay: hsla(270, 12%, 16%, var(--blur-fallback, 0.71));
    --wordmark-color: #e3bad1;
  }
  .cool-dark .border-reflect,
  .dark .border-reflect {
    --gradientBorder-gradient:
      linear-gradient(180deg, #93335b00, #93335bbd, #93335b17), linear-gradient(15deg, #93335b1f 50%, #93335bbd);
    --start: rgba(0, 0, 0, 0.92);
  }
  .border-reflect {
    --c: 320 100% 75%;
    --min: hsl(var(--c) / 0.2);
    --max: hsl(var(--c) / 1);
    --gradientBorder-gradient:
      linear-gradient(180deg, var(--min), var(--max), var(--min)), linear-gradient(15deg, var(--min) 50%, var(--max));
    --opacity: 1;
    --start: rgba(0, 0, 0, 0.85);
  }
  .border-reflect:before {
    content: '';
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: var(--gradientBorder-size, 1px);
    background: var(--gradientBorder-gradient);
    -webkit-mask:
      linear-gradient(var(--start), #000) content-box,
      linear-gradient(var(--start), #000);
    mask:
      linear-gradient(var(--start), #000) content-box,
      linear-gradient(var(--start), #000);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    opacity: var(--opacity, 1);
  }
  .button-reflect {
    --min: #2e001f40 !important;
    --max: #ffa6e2b0 !important;
    --start: #000000d9 !important;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  --radius-inherit: inherit;
}

.ease-snappy {
  animation-timing-function: cubic-bezier(0.2, 0.4, 0.1, 0.95);
}

.text-color-heading {
  color: hsl(var(--color-heading));
}
