@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Geist Mono';
  src: url('../lib/fonts/GeistMonoVF.woff') format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../lib/fonts/JetBrainsMono.woff2') format('woff2');
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .fancy-link {
    @apply bg-gradient-to-r from-red-500 to-blue-500 bg-no-repeat py-1 text-gray-500 no-underline transition-all duration-500 ease-in-out;
    background-size: 0% 3px; /* Custom style */
    background-position: left 1.5rem; /* Custom style */
  }
  .fancy-link:hover,
  .fancy-link:focus {
    @apply bg-[length:100%_3px] text-purple-800;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100px);
  }
}

.fade-in-left {
  animation: fadeInLeft 1s ease-out forwards;
}

.fade-out-left {
  animation: fadeOutLeft 1s ease-out forwards;
}

.scroll-snap {
  scroll-snap-type: y mandatory;
}

.chatbot-container {
  width: 65vw;
  height: 55vh;
  border: 0.3rem solid #6a6aff;
  padding: 1rem;
  margin: 0 auto;
  background-color: #121216;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
  display: flex;
  border-radius: 1.4vw;
  flex-direction: column;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  align-items: stretch;
}

.chatHistory {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  overflow-y: auto;
  scrollbar-width: none;
  text-align: left;
}

.chatHistory::-webkit-scrollbar {
  display: none;
}

.chatHistory .message {
  max-width: 60%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  color: #ffffff;
  font-size: 0.75rem;
}

.chatHistory .message.user {
  align-self: flex-start;
  background-color: #3b3b47;
}

.chatHistory .message.bot {
  align-self: flex-end;
  background-color: #6a6aff;
}

.chat-container {
  border: 1px solid #ccc;
  height: 100%;
  overflow-y: scroll;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: inherit;
}

.input-container {
  position: relative;
  bottom: 0;
  display: flex;
  margin-top: 0vw;
  border-radius: inherit;
}

.input-container input {
  flex-grow: 1;
  padding: 0.5vw;
  border: 4px solid #6a6aff;
  border-radius: inherit;
  background-color: #121216;
  color: #3b3b47;
}

.input-container button {
  margin-left: 1vw;
  margin-right: auto;
  padding: 1vw 2vw;
  border: none;
  background-color: #6a6aff;
  color: #ffffff;
  cursor: pointer;
  border-radius: inherit;
  transition-duration: 0.4s;
}
