@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist Mono';
  src: url('../lib/fonts/GeistMonoVF.woff') format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../lib/fonts/JetBrainsMono.woff2') format('woff2');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist: 'Geist Mono', monospace;
  --font-jetbrains: 'JetBrains Mono', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-synthesis: none;
}

@layer utilities {
  .fancy-link {
    @apply bg-gradient-to-r from-red-500 to-blue-500 bg-no-repeat py-1 text-gray-500 no-underline transition-all duration-500 ease-in-out;
    background-size: 0% 3px; /* Custom style */
    background-position: left 1.5rem; /* Custom style */
  }
  .fancy-link:hover,
  .fancy-link:focus {
    @apply bg-[length:100%_3px] text-purple-800;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100px);
  }
}

.fade-in-left {
  animation: fadeInLeft 1s ease-out forwards;
}

.fade-out-left {
  animation: fadeOutLeft 1s ease-out forwards;
}

.scroll-snap {
  scroll-snap-type: y mandatory;
}
